# TikTok Shop
APP_KEY=
APP_SECRET=
AUTH_CODE=
ACCESS_TOKEN=
REFRESH_TOKEN=
SHOP_CIPHER=

# Accurate Online
ACCURATE_APP_KEY=
ACCURATE_SIGNATURE_SECRET=
ACCURATE_API_TOKEN=
ACCURATE_HOST=
ACCURATE_WAREHOUSE_ID=
ACCURATE_TIKTOK_CUSTOMER_ID=

# Server
PORT=8000
